body{
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}
header {
    width: 100%;
    font-size: 3vmin;
}
header .icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-menu-container{
    width: 10%;
    padding: 0.5em;
}

.options-container{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    width: 20%;
}
.options-container a{
    margin: 0.5em;
}
.blank-space{
    width: 40%;
}
.apps-container{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}
.app-menu{
    width: 35%;
}
.prof-pic{
    width: 50%;
}
img{
    width: 100%;
    height: auto;
}
.round-thumbnail{
    border-radius: 50%;
}

main{
    margin-top: 1vmin;
    width: 100%;
}
.main-logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vmax;
}
.google-logo{
    width: 60%;
    margin-top: 5vmax;
}
.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 8vmin;
    margin: 5vmin auto;
    border-radius: 4vmin;
    border: 3px solid rgba(165, 163, 163, 0.514);
}
.search-container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1vmin;
}
.input-text{
    width: 80%;
    height: 95%;
}
.input-text input{
    width: 100%;
    height: 100%;
    font-size: 4vmin;
    border : none;
}
.input-text input:focus{
    outline: none;
    
}
.search-icon, .input-voice{
    background-color: transparent;
    border: none;
}
