/*float clear-fix*/
.float-cont{
    clear:both;
}
.float-cont::before, .float-cont::after{
    content: "";
    display: table;
}
.float-cont::after{
    clear: both;
}


body{
    min-height: 100%;
    padding-bottom: 50px;
}
header{
    height: 40px;
    background-color: gray;
}
header div{
    background-color: silver;
    height: 100%;
    width: 40%;
}
.left-cont{
    float: left;
}
.right-cont{
    float: right;
}
.main-cont{
    background-color: slategray;
}
footer{
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: rgb(66, 163, 57);
}