/*float clear-fix

.float-cont{
    clear:both;
}
.float-cont::before, .float-cont::after{
    content: "";
    display: table;
}
.float-cont::after{
    clear: both;
}
*/

body{
    min-height: 100%;
    padding-bottom: 50px;
}
header{
    justify-content: space-between;
    max-height: 10%;
    background-color: tomato;
}
.center-h {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.center-v {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.link-space{
    margin: 0.35em;
    display: inline-block;
    max-height: 100%;
}
#gmail-link{
    display: none;
}


.main-cont{
    background-color: slategray;
}


footer{
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: rgb(66, 163, 57);
}
@media (min-width: 1080px) {
    header{
        justify-content: flex-end;
    }
    #gmail-link{
        display: inline;
    }
    #all-link, .side-menu-container{
        display: none;
    }
}