/*float clear-fix

.float-cont{
    clear:both;
}
.float-cont::before, .float-cont::after{
    content: "";
    display: table;
}
.float-cont::after{
    clear: both;
}
*/

body{
    min-height: 100%;
    padding-bottom: 70px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
header{
    justify-content: space-between;
    max-height: 10%;
}
.center-h {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-v {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:nowrap;
}
.link-space{
    margin: 0.35em;
    display: inline-block;
    max-height: 100%;
    text-decoration: none;
    color: black;
}

#gmail-link{
    display: none;
}



.main-logo{
    margin-top: 10%;
    margin-bottom: 2%;;
}


.form-cont{
    width: 55%;
}
.search-container{
    position: relative;
    border: 2px solid rgba(206, 196, 196, 0.822);
    background-color: rgb(255, 255, 255);
    height: 2.4em;
    border-radius: 1.2em;
    width: 100%;
}
.search-icon{
    position: absolute;
    left: 0.5em;
}
.input-voice{
    position: absolute;
    right: 0.5em;
}
button, input{
    border: none;
    background: none;
    padding: 0;
}
.input-text{
    width: 100%;
}
input{
    width: 80%;
    margin: 0 10%;
}
button img{
    max-height: 24px;
}
input:focus{
    outline: none;
}
.search-container:hover, .search-container:focus{
    box-shadow: 2px 2px 5px gray;
}
.buttons{
    display: none;
    font-size: medium;
}
.lang-option p{
    text-align: center;
    margin-top: 10%;
}


footer{
    box-sizing: border-box;
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: #f2f2f2;
    padding-left: 1em;
}
.location{
    margin-top: 2px;
    margin-bottom: 10px;
}
.additional-info{
    display: block;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.267);
}

@media (min-width: 1060px) {
    header{
        justify-content: flex-end;
    }
    #gmail-link{
        display: inline;
    }
    #all-link, .side-menu-container{
        display: none;
    }
    .form-cont{
        width: 720px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
    }
    .buttons a{
        background-color: #f2f2f2;
        padding: 0.5em 1em;
    }
}

@media (max-width: 400px) {
    .form-cont{
        width: 90%;
    }
    .main-cont{
        margin-top: 25px;
    }
    .main-logo{
        width: auto;
    }
}
